header{
    background-color: #FFFFFF;
     display: flex;
    border-bottom: 3px solid  #085041;
}
h1{
 color:#085041;
    font-family: 'Syne', sans-serif;
    font-weight: 800;    
}

h2{
color: #1A1A1A;
    font-family: 'Syne', sans-serif;
    font-weight: 900;
}

h3{
    color: #a93226;
    font-family: 'Syne', sans-serif;
    font-weight: 600; 
}


    main{
    background-color: #FFFFFF;
    
   
    display: flex;
    border: 4px solid #085041;
    border-radius: 14px;
     
    flex-direction: column;
   text-align: center;
   width: 500px;
padding-left: 50px;
padding-right: 50px;
   padding-bottom: 40px;
   margin-left: 500px;
   margin-top: 200px;
}
li{
    list-style: none;
    padding: 0;
    margin: 0;
}

